<div style="padding: 50px; max-width: 1500px; margin: auto">
  <div style="-aw-headerfooter-type: header-primary">
    <p
      style="
        margin-top: 0pt;
        margin-bottom: 0pt;
        text-align: right;
        font-size: 11pt;
        display: flex;
        justify-content: flex-end;
      "
    >
      <img
        src="/images/ab5qx-iz85b.001.png"
        width="222"
        height="68"
        alt=""
        style="
          -aw-left-pos: 0pt;
          -aw-rel-hpos: column;
          -aw-rel-vpos: paragraph;
          -aw-top-pos: 0pt;
          -aw-wrap-type: inline;
        "
      />
    </p>
  </div>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">Date</p>

  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">&#xa0;</p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    STUDENT NAME :${studentName}
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    STUDENT ADDRESS :${address}
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    SCHOOL OR COLLEGE
  </p>

  <h1 style="margin-block: 50px; text-align: center; font-size: 14pt">
    LETTER OF ADMISSION
  </h1>

  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    Dear (student_name),
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    Congratulations! On behalf of President Joseph T. Isaac and the entire
    Nubian American Advanced College community, I am delighted to inform you
    that the College’s committee on admission has admitted you to NAAC for
    (SEMESTER), in the School of (PROGRAM). This admission is based on
    successful completion of the following requirements:
  </p>

  <ol type="a" style="margin-block: 20px; padding-left: 0pt">
    <li
      style="
        margin-left: 32.11pt;
        padding-left: 3.89pt;
        font-family: Calibri;
        font-size: 12pt;
        letter-spacing: 0.4pt;
      "
    >
      1. Make payment of the College’s application fee
    </li>
    <li
      style="
        margin-left: 32.11pt;
        padding-left: 3.89pt;
        font-family: Calibri;
        font-size: 12pt;
        letter-spacing: 0.4pt;
      "
    >
      2. Submit all required documents
    </li>
    <li
      style="
        margin-left: 32.11pt;
        padding-left: 3.89pt;
        font-family: Calibri;
        font-size: 12pt;
        letter-spacing: 0.4pt;
      "
    >
      3. Take and pass the College’s placement exam (if required)
    </li>
  </ol>

  <p
    style="
      margin-top: 0pt;
      margin-bottom: 0pt;
      text-align: justify;
      font-size: 12pt;
    "
  >
    If you have completed college level credit courses by proficiency exam,
    dual-enrollment or any other programs, you must provide transcripts prior to
    registration when those transfer credits have been recorded for you.
    Meanwhile, please continue to check your email for information regarding
    your student ID number, NAAC Email address and temporary password,
    instructions to create your BOIMA SIS account, orientation, registration,
    housing, and other student services.
  </p>

  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    We look forward to answering any questions regarding your academic pathway
    and welcoming you to the NAAC community.
  </p>

  <p style="margin-top: 30px; margin-bottom: 0pt; font-size: 12pt">
    With warm regards,
  </p>
  <div style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    <img
      src="/images/pdf_signature.png"
      width="107"
      height="41"
      alt=""
      style="
        margin: 3.22pt 9pt 3.6pt 8.62pt;
        -aw-left-pos: 2pt;
        -aw-rel-hpos: column;
        -aw-rel-vpos: paragraph;
        -aw-top-pos: 7.75pt;
        -aw-wrap-type: square;
      "
    />
  </div>

  <div style="margin-top: 10px">
    <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
      Memee K. White, Ed.S.
    </p>
    <p style="margin-top: 5px; margin-bottom: 0pt; font-size: 12pt">
      Associate Vice President
    </p>
    <p
      style="
        margin-top: 0pt;
        margin-bottom: 0pt;
        text-align: justify;
        font-size: 12pt;
      "
    >
      Student Affairs
    </p>
  </div>
  <div style="-aw-headerfooter-type: footer-primary">
    <div
      style="
        margin-top: 0pt;
        margin-bottom: 0pt;
        text-align: right;
        font-size: 11pt;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      "
    >
      <div>
        <div>
          <img
            src="/images/ab5qx-iz85b.003.png"
            width="196"
            height="57"
            alt=""
          />
        </div>
        <div style="text-align: center">www.nubianaacollege.org</div>
      </div>
    </div>
    <!-- <p
      style="
        margin-top: 0pt;
        margin-bottom: 0pt;
        text-align: right;
        font-size: 11pt;
      "
    >
      www.nubianaacollege.org
    </p> -->
  </div>
</div>
