<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script src="https://cdn.tailwindcss.com"></script>

<style>
  .invoice-title h2,
  .invoice-title h3 {
    display: inline-block;
  }

  .table > tbody > tr > .no-line {
    border-top: none;
  }

  .table > thead > tr > .no-line {
    border-bottom: none;
  }

  .table > tbody > tr > .thick-line {
    border-top: 2px solid;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h2>Invoice</h2>
        <h3 class="pull-right">Order # 12345</h3>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br />
            John Smith<br />
            1234 Main<br />
            Apt. 4B<br />
            Springfield, ST 54321
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Shipped To:</strong><br />
            Jane Smith<br />
            1234 Main<br />
            Apt. 4B<br />
            Springfield, ST 54321
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Payment Method:</strong><br />
            Visa ending **** 4242<br />
            jsmith@email.com
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Order Date:</strong><br />
            March 7, 2014<br /><br />
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Order summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><strong>Course Code</strong></td>
                  <td><strong>Course No.</strong></td>
                  <td class="text-center"><strong>Course</strong></td>
                  <td class="text-center"><strong>Category</strong></td>
                  <td class="text-right"><strong>Credit</strong></td>
                  <td class="text-right"><strong>Section</strong></td>
                  <td class="text-right"><strong>Schedule</strong></td>
                  <td class="text-right"><strong>Time</strong></td>
                  <td class="text-right"><strong>Classroom</strong></td>
                  <td class="text-right"><strong>Instructor</strong></td>
                  <td class="text-right"><strong>Fees Per Credit</strong></td>
                  <td class="text-right"><strong>Course Fees</strong></td>
                </tr>
              </thead>
              <tbody>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                <tr>
                  <td>MSIS 521</td>
                  <td>521</td>
                  <td>Governance and Controls for Information Security</td>
                  <td class="text-center">Elective</td>
                  <td class="text-center">3</td>
                  <td class="text-center">1</td>
                  <td class="text-right">T/TH/S</td>
                  <td class="text-right">08 AM</td>
                  <td class="text-right">A56</td>
                  <td class="text-right">Jon Te</td>
                  <td class="text-right">15.00</td>
                  <td class="text-right">45</td>
                </tr>
                <tr>
                  <td>MSIS 521</td>
                  <td>521</td>
                  <td>Governance and Controls for Information Security</td>
                  <td class="text-center">Elective</td>
                  <td class="text-center">3</td>
                  <td class="text-center">1</td>
                  <td class="text-right">T/TH/S</td>
                  <td class="text-right">08 AM</td>
                  <td class="text-right">A56</td>
                  <td class="text-right">Jon Te</td>
                  <td class="text-right">15.00</td>
                  <td class="text-right">45</td>
                </tr>
                <tr>
                  <td>MSIS 521</td>
                  <td>521</td>
                  <td>Governance and Controls for Information Security</td>
                  <td class="text-center">Elective</td>
                  <td class="text-center">3</td>
                  <td class="text-center">1</td>
                  <td class="text-right">T/TH/S</td>
                  <td class="text-right">08 AM</td>
                  <td class="text-right">A56</td>
                  <td class="text-right">Jon Te</td>
                  <td class="text-right">15.00</td>
                  <td class="text-right">45</td>
                </tr>
                <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line text-center">
                    <strong>Amount Paid</strong>
                  </td>
                  <td class="thick-line text-right">$670.99</td>
                </tr>
                <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="no-line text-center"><strong>Balance</strong></td>
                  <td class="no-line text-right">$15</td>
                </tr>
                <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="no-line text-center"><strong>Total</strong></td>
                  <td class="no-line text-right">$685.99</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
